@import 'stylesheets/typography.css';
@import 'stylesheets/system.css';

@keyframes highlight {
  from {
    color: var(--color-accent);
  }

  to {
    color: inherit;
  }
}
:root {
  font-size: 16px;
  font-variant-numeric: oldstyle-nums;
  line-height: var(--line-height-normal);
  color: var(--color-text);
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-accent: #c71585;
  --color-background: #fbf8e1;
  --color-heading: #0d1a26;
  --color-highlight: #222222;
  --color-highlight-inverted: white;
  --color-text: #274059;
  --color-text-pale: #707f8d;
  --color-line: #e3dedc;
  --color-warning: #fdba74;
}

body {
  margin: 0;
  font-family: var(--font-serif);
  font-size: calc(0.75em + 0.5vw);
  letter-spacing: 0.025em;
  background: var(--color-background);
}

a {
  color: var(--color-accent);
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

a:hover {
  text-decoration-style: double;
}

header {
  margin: var(--space-medium) auto;
  padding: 0 var(--space-medium);
  max-width: 75ch;
  text-align: center;
}

header > x-logo {
  margin: var(--space-x-large);
}

header > h1 {
  font-family: var(--font-display);
  font-weight: 500;
  margin: 0;
  color: var(--color-text);
}

header > h1 em {
  font-style: normal;
  background: var(--color-accent);
  color: var(--color-highlight-inverted);
  padding: 0 var(--space-x-small);
}

header > hr {
  width: 25em;
  margin: var(--space-large) auto;
  border-top: 2px dotted var(--color-text-pale);
  border-bottom: none;
}

header > h2 {
  font-size: 1.45em;
}

header > :is(h1, h2) {
  line-height: var(--line-height-condensed);
}

header > p {
  font-size: 1em;
  font-weight: 700;
}

x-search {
  display: flex;
  justify-content: center;
  background: var(--color-accent);
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0px;
  margin-top: var(--space-xx-large);
  padding: var(--space-medium) 0;
}

main > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: var(--type-xx-large);
  padding: var(--space-xxx-large) 0;
}

main > h1 {
  font-family: var(--font-display);
  font-weight: 500;
  margin: 0;
  padding: var(--space-medium) 0;
  text-align: center;
}

section:first-of-type {
  margin: var(--space-medium) 0;
}

section#summary {
  display: flex;
  margin: 0 var(--space-medium);
  align-items: flex-start;
  justify-content: space-between;
}

section#summary :is(ol, figure) {
  width: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
}

section#summary ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section#summary ol label {
  cursor: pointer;
}

section#summary figure {
  position: sticky;
  top: calc(2 * var(--space-medium) + var(--space-large) + var(--space-large));
  margin: 0;
  padding: var(--space-medium) var(--space-large);
  background: var(--color-highlight-inverted);
}

section#summary table {
  width: 100%;
  font-size: var(--type-small);
  font-variant-numeric: tabular-nums;
  border-collapse: collapse;
}

section#summary table thead th:nth-child(1) {
  width: 30%;
}

section#summary table thead th:nth-child(1) {
  width: 30%;
}

section#summary table thead th:nth-child(1) {
  width: 40%;
}

section#summary table,
section#summary table :is(td, th) {
  padding: var(--space-small);
}

section#summary table td {
  animation: highlight var(--delay-xxx-large);
}

section#summary table thead {
  border-bottom: 1px solid var(--color-line);
}

section#summary table tbody tr:nth-child(odd) {
  background: var(--color-background);
}

section#summary table tfoot {
  border-top: 1px solid var(--color-line);
}

section#summary table th {
  text-align: left;
}

section#summary table :is(td, th):not(:nth-child(1)) {
  text-align: right;
}

x-details {
  max-width: var(--line-width-normal);
  padding: var(--space-small);
  margin: 0 auto;
}

x-details div[slot='summary'] {
  font-style: italic;
  font-weight: 700;
  color: var(--color-accent);
  margin-left: var(--space-large);
}

x-details div[slot='summary']:hover {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

x-details div[slot='summary'] :is(i, em) {
  font-style: normal;
}

x-details div[slot='contents'] {
  margin-left: var(--space-large);
  text-align: justify;
  hyphens: auto;
}

footer {
  background: white;
}

footer h1 {
  margin: 0;
  text-align: center;
  font-size: var(--type-large);
  letter-spacing: var(--space-xx-small);
  font-variant: small-caps;
  padding: var(--space-large) 0;
}

cite {
  font-variant: small-caps;
  hyphens: none;
}

footer x-details abbr {
  font-variant: all-small-caps;
}

footer blockquote {
  font-style: italic;
}

footer blockquote :is(i, em) {
  font-style: normal;
}
