@import 'stylesheets/typography.css';
@import 'stylesheets/system.css';

@keyframes highlight {
  from {
    color: var(--color-warning);
  }

  to {
    color: inherit;
  }
}

:root {
  font-size: 16px;
  font-variant-numeric: oldstyle-nums;
  line-height: var(--line-height-normal);
  color: var(--color-text);
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-accent: #004a80;
  --color-background: #fbf8e1;
  --color-heading: #0d1a26;
  --color-highlight: #222222;
  --color-highlight-inverted: white;
  --color-text: #274059;
  --color-text-pale: #707f8d;
  --color-line: #e3dedc;
  --color-warning: #c71585;
}

::selection {
  color: var(--color-highlight-inverted);
  background-color: var(--color-accent);
}

html {
  scroll-padding-top: var(--space-xx-large);
}

body {
  margin: 0;
  font-family: var(--font-serif);
  font-size: calc(0.75em + 0.5vw);
  letter-spacing: 0.025em;
  background: var(--color-background);
}

a {
  color: var(--color-accent);
  text-decoration-line: underline;
  text-underline-offset: 3px;
  padding: 0 1px;
}

a:hover {
  background: var(--color-accent);
  color: var(--color-highlight-inverted);
  text-decoration: none;
}

strong {
  font-weight: 900;
}

header {
  margin: var(--space-medium) auto;
  padding: 0 var(--space-medium);
  max-width: 75ch;
  text-align: center;
  text-wrap: balance; /* ✨ https://developer.chrome.com/blog/css-text-wrap-balance/ */
}

@media (max-width: 640px) {
  header {
    font-size: 80%;
  }
}

header > x-logo {
  margin: var(--space-x-large);
}

header > h1 {
  font-size: var(--type-xx-large);
  font-family: var(--font-display);
  font-weight: 500;
  margin: 0;
  color: var(--color-text);
}

header > h1 em {
  font-style: normal;
  background: var(--color-accent);
  color: var(--color-highlight-inverted);
  padding: 0 var(--space-x-small);
}

header > h2 {
  font-size: var(--type-x-large);
}

header > :is(h1, h2) {
  line-height: var(--line-height-condensed);
}

header > p {
  font-size: var(--type-medium);
  font-weight: 700;
}

x-search {
  display: flex;
  justify-content: center;
  background: var(--color-accent);
  width: 100%;
  height: var(--space-xx-large);
  position: sticky;
  z-index: 2;
  top: 0px;
  margin-top: var(--space-xx-large);
}

main:not(:empty) {
  padding: var(--space-large) 0;
}

main > img {
  display: block;
  text-align: center;
  padding: var(--space-xx-large) 0;
  margin: auto;
  mix-blend-mode: multiply;
  width: 26em;
  max-width: 65%;
}

main > h1 {
  font-family: var(--font-display);
  font-weight: 500;
  margin: 0 var(--space-small) var(--space-medium) var(--space-small);
  padding: 0;
  text-align: center;
  line-height: var(--line-height-condensed);
  text-wrap: balance; /* ✨ https://developer.chrome.com/blog/css-text-wrap-balance/ */
}

main > h1:not(:first-of-type) {
  margin-top: var(--space-large);
  margin-bottom: var(--space-large);
}

@media (min-width: 960px) {
  main > h1:not(:first-of-type) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--space-large) var(--space-xx-large) var(--space-large)
      var(--space-xx-large);
  }

  main > h1:not(:first-of-type):after,
  main > h1:not(:first-of-type):before {
    content: '';
    flex-grow: 1;
    border-top: 2px dotted;
  }

  main > h1:not(:first-of-type):after {
    margin-left: var(--space-medium);
  }

  main > h1:not(:first-of-type):before {
    margin-right: var(--space-medium);
  }
}

section {
  max-width: 1440px;
  width: calc(100% - 2 * var(--space-medium));
  margin: auto;
}

section:first-of-type {
  margin: var(--space-medium) auto;
}

section#summary {
  gap: var(--space-large);
  margin: 0 auto var(--space-large) auto;
  align-items: flex-start;
}

section#summary figure {
  position: sticky;
  top: var(--space-xx-large);
  z-index: 1;
  margin: 0;
  padding: var(--space-medium) var(--space-large);
  background: var(--color-highlight-inverted);
}

@media (min-width: 960px) {
  section#summary {
    display: flex;
  }

  section#summary figure {
    top: calc(2 * (var(--space-medium) + var(--space-large)));
    flex-grow: 1;
    margin: 0;
  }

  section#summary ol {
    margin: 0 !important;
  }

  section#summary table,
  section#summary table :is(td, th) {
    padding: var(--space-small) !important;
  }
}

section#summary table {
  width: 100%;
  font-size: var(--type-small);
  font-variant-numeric: tabular-nums;
  border-collapse: collapse;
}

section#summary table thead th:nth-child(1) {
  width: 30%;
}

section#summary table thead th:nth-child(1) {
  width: 30%;
}

section#summary table thead th:nth-child(1) {
  width: 40%;
}

section#summary table,
section#summary table :is(td, th) {
  padding: var(--space-x-small);
  text-wrap: nowrap;
}

section#summary table td,
section#summary table tfoot th:not(:first-of-type) {
  font-weight: 900;
  animation: highlight var(--delay-xxx-large);
}

section#summary table thead {
  border-bottom: 1px solid var(--color-line);
}

section#summary table tbody tr:nth-child(odd) {
  background: var(--color-background);
}

section#summary table tfoot {
  border-top: 1px solid var(--color-line);
}

section#summary table th {
  text-align: left;
}

section#summary table :is(td, th):not(:nth-child(1)) {
  text-align: right;
}

section#summary ol {
  margin: var(--space-large) 0 0 0;
  padding: 0;
  flex-grow: 1;
  padding: var(--space-large);
  font-family: var(--font-display);
  list-style-type: none;
  background: var(--color-highlight-inverted);
}

section#summary ol li:nth-child(odd) {
  background: var(--color-background);
}

section#summary ol label {
  display: flex;
  gap: var(--space-small);
  align-items: center;
  padding: var(--space-x-small) var(--space-small);
  cursor: pointer;
}

section#summary ol label input:checked + span {
  color: var(--color-accent);
}

section#summary ol label input[type='checkbox'] {
  font-size: var(--type-xx-small);
  position: relative;
  width: 3em;
  height: 1.5em;
  background: var(--color-line);
  outline: none;
  border-radius: 99em;
  box-shadow: inset 0 0 0.375em rgba(0, 0, 0, 0.2);
  transition: var(--delay-medium);
  cursor: pointer;
  -webkit-appearance: none;
}

section#summary ol label input:checked[type='checkbox'] {
  background: var(--color-accent);
}

section#summary ol label input[type='checkbox']:before {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 99em;
  top: 0;
  left: 0;
  background: var(--color-highlight-inverted);
  transform: scale(1.1);
  box-shadow: 0 0.15em 0.375em rgba(0, 0, 0, 0.5);
  transition: var(--delay-medium);
}

section#summary ol label input:checked[type='checkbox']:before {
  left: 1.5em;
}

section#results {
  column-count: 3;
}

@media (max-width: 1280px) {
  section#results {
    column-count: 2;
  }
}

@media (max-width: 640px) {
  section#results {
    column-count: 1;
  }
}
section#results x-campaign {
  border-bottom: var(--space-medium) solid var(--color-background);
  break-inside: avoid;
}

section#results x-campaign.hidden {
  display: none;
}

section#results button {
  display: block;
  column-span: all;
  padding: var(--space-small) var(--space-large);
  margin: var(--space-medium) auto 0 auto;
  font-size: var(--type-large);
  font-family: var(--font-display);
  border-radius: 99em;
  border: none;
  color: var(--color-highlight-inverted);
  background: var(--color-accent);
  cursor: pointer;
}

x-details {
  padding: var(--space-medium);
  margin: 0 auto;
}

x-details div[slot='summary'] {
  font-style: italic;
  font-weight: 700;
  margin-left: var(--space-large);
}

x-details div[slot='summary']:hover {
  text-decoration-line: underline;
  text-underline-offset: 3px;
  color: var(--color-highlight-inverted);
}

x-details[open] div[slot='summary'] {
  color: var(--color-highlight-inverted);
}

x-details div[slot='summary'] :is(i, em) {
  font-style: normal;
}

x-details div[slot='contents'] {
  margin-left: var(--space-large);
  text-align: justify;
  hyphens: auto;
  color: var(--color-highlight-inverted);
}

x-details div[slot='contents'] video {
  width: 100%;
}

footer {
  padding: var(--space-xx-large) var(--space-medium);
  background: var(--color-accent);
  color: var(--color-background);
}

footer ::selection {
  color: var(--color-accent);
  background-color: var(--color-highlight-inverted);
}

footer :is(a, strong) {
  color: var(--color-highlight-inverted);
}

footer h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  font-size: var(--type-large);
  letter-spacing: var(--space-x-small);
  font-variant: small-caps;
  padding: var(--space-large) 0;
  color: var(--color-highlight-inverted);
}

footer :is(h1, x-details) {
  max-width: var(--line-width-normal);
}

footer h1:after,
footer h1:before {
  content: '';
  flex-grow: 1;
  border-top: 2px dotted var(--color-line);
}

footer h1:after {
  margin-left: var(--space-large);
}

footer h1:before {
  margin-right: var(--space-large);
}

footer h1:first-of-type {
  padding-top: 0;
}

footer a:hover {
  background: var(--color-highlight-inverted);
  color: var(--color-accent);
}

cite {
  font-variant: small-caps;
}

footer x-details abbr {
  font-variant: all-small-caps;
}

footer blockquote {
  font-style: italic;
}

footer blockquote :is(i, em) {
  font-style: normal;
}
